body {
	font-family:"segoe UI";
	overflow:hiden;
}

a {
	color:#546E7A; 
	outline:none;
}

input[type=password]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]) {
border-bottom:1px solid #ef5350;
box-shadow:0 1px 0 0 #ef5350;

}

.progress .determinate{
	background-color : #ef5350 !important; 
}

.progress {
	background-color : #ffebee !important; 
	height:5px !important;
	margin:0;
}

#top-boutiques .store-name, #top-boutiques .code-total, #top-boutiques .success-rate {
	font-size:13px;
}
#top-boutiques .code-total {
	font-size:11px;
}

#top-boutiques .numerotation {
	padding:0 8px;
	font-size:18px;
}

#top-boutiques .keyboard_arrow_right {
	margin-right:0px;
}

#top-boutiques .store-line {
	margin-bottom:0px !important;
	cursor:pointer;
	
}

#top-boutiques .store-line:hover {
	opacity:1 !important;
	background-color:#f5f5f5 !important;
}


#compare .store-name, #compare .price {
	font-size:13px;
}
#compare .price {
	/*font-size:11px;*/
	color:#EF5350 !important;
}

#compare .store-line {
	margin-bottom:0px !important;
	cursor:pointer;
}

#compare .store-line:hover {
	background-color:#f5f5f5 !important;
}

#special-vouchers .store-line {
	margin-bottom:0px !important;
	cursor:pointer;
	
}

#special-vouchers .store-line:hover {
	background-color:#f5f5f5 !important;
}

#vote {
	margin-bottom:25px;
}

.logo{
	width:100px;
	margin:5px auto;
}

.accordeon .collapsible-header, .accordeon .material-icons {
	height:3.5rem !important;
	line-height:3.5rem !important;
}

.accordeon .material-icons {
	margin-right:15px;
	font-size:24px !important;
}

.accordeon .collapsible-header {
	font-size:16px;
}

.accordeon .collapsible-header.active {
	background-color:#f9f9f9;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu li a {
	color:#555555;
	padding:0.4rem 1rem;
	font-size:14px;
}

/*
* TOUR
*/
.tour-backdrop-wanteeed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9991102;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=80);
}
.tour-step-backdrop-wanteeed {
  position: relative;
  z-index: 9991103;
  background: inherit;
}
.tour-step-backdrop-wanteeed > td {
  position: relative;
  z-index: 9991103;
}
.tour-step-background-wanteeed {
  position: absolute !important;
  z-index: 9991102;
  background: inherit;
  border-radius: 6px;
}

/*restaurer l effet hover
 
.btn {
  overflow: hidden;
}
.btn:hover:before {
  opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}*/